# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask==2.0.2
gunicorn==20.1.0

send grid API Key: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