<html>
<head>
    <title>Ibm-assignment-3</title>
    <link rel="stylesheet" href="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/assignment3-stylesheet.css">
</head>
<body>
    <!-- MAIN (Center website) -->
<div class="main">

<h1>IBM cloud object - Ramasubramaniyan.N </h1>
<hr>

<h2>Football players</h2>
<p>Resize the browser window to see the responsive effect.</p>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/ram1.jpg" alt="messi" style="width:100%">
      <h3>MESSI</h3>
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/ram2.jpg" alt="RONALDO" style="width:100%">
      <h3>RONALDO</h3>
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/ram3.jpg" alt="NEYMAR" style="width:100%">
      <h3>NEYMAR</h3>
      
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/ram4.jpg" alt="ROBERT" style="width:100%">
      <h3>ROBERT</h3>
      
    </div>
  </div>
</div>

<div class="content">
  <img src="https://ibm-assignment-three.s3.jp-tok.cloud-object-storage.appdomain.cloud/ram5.jpg" alt="KEVIN" style="width:100%">
  <h3>KEVIN</h3>
  
</div>

<!-- END MAIN -->
</div>
</body>
    <html>